# Copy this to .env and fill in real values
# .env is gitignored and never pushed to GitHub

MYSQL_ROOT_PASSWORD=
MYSQL_PASSWORD=
MYSQL_USER=bitwarden
MYSQL_DATABASE=bitwarden

VAULTWARDEN_ADMIN_TOKEN=
VAULTWARDEN_DOMAIN=https://bitwarden.rpi.lan

PIHOLE_WEB_PASSWORD=

SAMBA_USER=ptm
SAMBA_PASSWORD=
